<div class="row justify-content-center margin-0 padding-top-30" *ngIf="car">
  <div class="card detail-container col-6 col-md-6 col-sm-12 padding-0">
    <img class="card-img-top" *ngIf="car.carImg" [src]="car.carImg" alt="Card image cap">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <strong class="col-md-2 col-sm-12">Name:</strong>
          <label class="col-md-10 col-sm-12">{{car.fullName}}</label>
        </div>
        <div class="row">
          <strong class="col-md-2 col-sm-12">Model:</strong>
          <label class="col-md-4 col-sm-12">{{car.model}}</label>
          <strong class="col-md-3 col-sm-12">Brand:</strong>
          <label class="col-md-3 col-sm-12">{{car.brand}}</label>
        </div>
        <div class="row">
          <strong class="col-md-2 col-sm-12">Price:</strong>
          <label class="col-md-4 col-sm-12">{{car.price | currency}}</label>
          <strong class="col-md-3 col-sm-12">Year:</strong>
          <label class="col-md-3 col-sm-12">{{car.year}}</label>
        </div>
        <div class="row">
          <strong class="col-md-2 col-sm-12">Body:</strong>
          <label class="col-md-4 col-sm-12">{{car.body}}</label>
          <strong class="col-md-3 col-sm-12">Number of doors:</strong>
          <label class="col-md-3 col-sm-12">{{car.numDoors}}</label>
        </div>
        <div class="row">
          <strong class="col-md-2 col-sm-12">Engine:</strong>
          <label class="col-md-10 col-sm-12">{{car.engine}}</label>
        </div>
      </div>
    </div>
  </div>
</div>